.description {
    &__header {

    }

    &__content:not(&__content:first-child) {
        margin-top: 10px;

        @include from($b-md) {
            margin-top: 25px;
        }
    }

    &__block {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__block_66_from-md {
        @include from($b-md) {
            max-width: 66%;
        }
    }
}