.game {
    &__section {
        @include from($b-md) {
            margin-top: 20px;
        }

        @include from($b-lg) {
            margin-top: 40px;
        }
    }

    &__section-el {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }

        @include from($b-md) {
            margin-top: 40px;
        }

        @include from($b-desktop) {
            margin-top: 50px;
        }

        @include from($b-lg) {
            margin-top: 60px;
        }

        @include from($b-xl) {
            margin-top: 70px;
        }
    }

    &__footer {
        margin-top: 125px;
    }
}