.header {
    position: relative;

    &_abs {
        width: 100%;
        position: absolute;
    }

    &_img-bg {
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.35);
        height: 200px;

        @include from($b-md) {
            height: 275px;
        }

        @include from($b-desktop) {
            height: 350px;
        }

        @include from($b-lg) {
            height: 425px;
        }

        @include from($b-xl) {
            height: 500px;
        }
    }

    &_img-bg &__bg:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.83) 87%);
    }

    &_with-bg {
        height: 185px;

        @include from($b-md) {
            height: 200px;
        }

        @include from($b-desktop) {
            height: 240px;
        }

        @include from($b-lg) {
            height: 300px;
        }

        @include from($b-xl) {
            height: 360px;
        }
    }

    &_with-bg_xl {
        height: 185px;

        @include from($b-md) {
            height: 260px;
        }

        @include from($b-desktop) {
            height: 335px;
        }

        @include from($b-lg) {
            height: 400px;
        }

        @include from($b-xl) {
            height: 475px;
        }
    }

    &_dark {
        .header__burger-line {
            background: #000000;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 40px 0 30px 0;
    }

    &__block {
        display: flex;
    }

    &__separate-line {
        width: clamp(245px, p(300, 390), 750px);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);

        @include from($b-md) {
            display: none;
        }
    }

    &__nav {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-200%);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 90px;
        background: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(7px);
        transition: transform $ui-transition-time-3;
        z-index: 12;

        @include from($b-md) {
            width: auto;
            min-height: 0;
            position: fixed;
            top: 30px;
            left: auto;
            transform: none;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 25px;
            padding: 15px 30px;

            right: calc((100vw - 875px) / 2);
        }

        @include from($b-desktop) {
            gap: 35px;
            padding: 20px 40px;
            right: calc((100vw - 1040px) / 2);
        }

        @include from($b-lg) {
            right: calc((100vw - 1240px) / 2);
        }

        @include from($b-xl) {
            gap: 45px;
            padding: 20px 50px;
            right: calc((100vw - 1400px) / 2);
        }

        @include from($b-2xl) {
            right: calc((100vw - 1520px) / 2);
        }
    }

    &__nav_active {
        @include to(calc($b-md - 0.1)) {
            transform: translateY(0);
        }
    }

    &__nav-el {
        display: flex;
        margin-top: 40px;

        @include from($b-md) {
            margin-top: 0;
        }
    }

    &__nav-el_to-md {
        @include from($b-md) {
            display: none;
        }
    }

    &__nav-el_from-md {
        display: none;

        @include from($b-md) {
            display: flex;
        }
    }

    &__nav-el_relative {
        position: relative;
    }

    &__nav-dropdown {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, calc(100% + 25px));
        display: none;
        flex-direction: column;
        gap: 12px;
        padding: 20px;
        background: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(7px);
        flex-shrink: 0;
        animation: showDropdown $ui-transition-time-1;
    }

    &__nav-dropdown_right {
        left: auto;
        right: 0;
        transform: translate(0, calc(100% + 4px));
    }

    &__nav-dropdown_active {
        display: flex;
    }

    @keyframes showDropdown {
        from {
            bottom: -15px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    &__nav-dropdown-el {
        display: flex;
    }
    
    &__nav-link {
        white-space: nowrap;
        display: inline-flex;
        @include text($ui-font-1, 5500, 115%, #FFFFFF);
        font-size: 14px;
        transition: color $ui-transition-time-1;
        color: rgba(255, 255, 255, 0.4);
        cursor: pointer;

        @include from($b-lg) {
            font-size: 16px;
        }
    }

    &__nav-link:hover {
        @include from($b-md) {
            color: #FFFFFF;
        }
    }

    &__nav-link_active {
        position: relative;
        font-weight: 900;
        color: #FFFFFF;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
        }
    }

    &__search-text {
        @include from($b-md) {
            display: none;
        }
    }

    &__search-img {
        display: none;

        @include from($b-md) {
            display: inline-block;
            width: 18px;
            height: 18px;
        }
    }

    &__logo {
        width: 120px;
        aspect-ratio: 139 / 22;

        position: relative;
        z-index: 13;

        @include from($b-md) {
            width: 160px;
        }

        @include from($b-desktop) {
            width: 200px;
        }

        @include from($b-lg) {
            width: 240px;
        }

        @include from($b-xl) {
            width: 280px;
        }
    }

    &__burger {
        width: 24px;
        height: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: height 0.4s;
        cursor: pointer;
        z-index: 13;

        @include from($b-md) {
            display: none;
        }

        &-line {
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: #FFFFFF;
            transition: $ui-transition-time-2 transform, $ui-transition-time-2 opacity, $ui-transition-time-2 width;

            &:nth-child(1) {
                top: 0;
                left: 0;
                transform-origin: left;
            }

            &:nth-child(2) {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &:nth-child(3) {
                left: 0;
                bottom: 0;
                transform-origin: left;
            }
        }

        &_active {
            height: 24px;

            @include from($b-phone) {
                height: 24px;
            }

            .header__burger-line {
                height: 3px;
            }

            .header__burger-line:nth-child(1) {
                width: 141%;
                transform: translateY(-50%) rotate(45deg);
            }

            .header__burger-line:nth-child(2) {
                opacity: 0;
            }

            .header__burger-line:nth-child(3) {
                width: 141%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;

        @include from($b-2xl) {
            max-width: 1920px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__bg_clipped {
        clip-path: polygon(0 0, 0 100%, 100% calc(100% - 30px), 100% 0);

        @include from($b-md) {
            clip-path: polygon(
                0 0,
                0 100%,
                22% calc(100% - 12%),
                41% calc(100% - 12%),
                41% calc(100% - 22.4%),
                100% calc(100% - 54.2%),
                100% 0
            );
        }
    }

    &_with-bg_xl &__bg_clipped {
        clip-path: polygon(0 0, 0 100%, 100% calc(100% - 30px), 100% 0);

        @include from($b-md) {
            clip-path: polygon(
                0 0,
                0 100%,
                100% calc(100% - 54.2%),
                100% 0
            );
        }
    }

    &__bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}