.news-el {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0;
    
    &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:first-child {
        padding-top: 0;
    }

    &:first-child:before {
        display: none;
    }

    &_xl {
        @include from($b-md) {
            padding-top: 0;
            grid-row: span 3 / span 3;

            &:before {
                display: none;
            }
        }
    }

    &__img-wrap {
        width: 100%;
        height: auto;
        aspect-ratio: 35 / 23;
        display: flex;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__img-text {
        width: 100%;
        max-height: 100%;
        position: absolute;
        bottom: 0;
        padding: 20px 15px;

        font-family: $ui-font-2;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;

        @include from($b-md) {
            padding: 25px 25px;
            font-size: 16px;
        }

        @include from($b-desktop) {
            padding: 35px 30px;
            font-size: 18px;
        }

        @include from($b-xl) {
            padding: 45px 40px;
            font-size: 21px;
        }

        @include from($b-2xl) {
            font-size: 22px;
        }
    }

    &__title {
        font-family: $ui-font-1;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        @include from($b-md) {
            font-size: 28px;
        }

        @include from($b-lg) {
            font-size: 35px;
        }

        @include from($b-xl) {
            font-size: 40px;
        }
    }
}

.news-el_xl + .news-el:nth-child(2) {
    @include from($b-md) {
        padding-top: 0;

        &:before {
            display: none;
        }
    }
}